.nm-clear:before,
.nm-clear:after {
  content: " ";
  display: table;
}

.nm-relative {
  position: relative;
}

.nm-bottom-margin {
  margin-bottom: 24px;
}

.nm-pull--right {
  float: right;
}

.nm-pull--left {
  float: left;
}

.nm-clear:after {
  clear: both;
}

.nm-link {
	color: #0898cc;
	border-bottom: none;
	transition: .3s;
  -webkit-transition: .3s;
  text-decoration: none;
	cursor: pointer;
}

.nm-error-strike {
  color: $nm-red;
  text-decoration: line-through;
}

.nm-border {
  border: 1px solid $nm-border;
}

.nm-error {
	color: $nm-red;
	border-bottom: none;
	transition: .3s;
  -webkit-transition: .3s;
  text-decoration: none;
  cursor: pointer;

 &:hover {
   opacity: .8;
  }	
}

.nm-pointer {
  cursor: pointer;
}

.nm-link:hover {
	color: #ffbc00;
}

.nm-gray-text {
  color: #333333
}

.nm-blue {
  color: $nm-blue;
}

.nm-light-text {
	font-weight: 300;
}

.nm-padding-clear {
	padding: 0;
}

.nm-margin-clear {
	margin: 0;
}

.nm-fix-box {
  box-sizing: border-box;
}

.nm-right-text {
  text-align: right;
}

.nm-spacer-48 {
  width: 100%;
  float: left;
  height: 48px;
}

.nm-spacer-12 {
  width: 100%;
  float: left;
  height: 12px;
}

.nm-text-center {
  text-align: center;
}

.nm-mobile-white {
  @media screen and (max-width: $form-break) {
    color: white;
  }
}

.nm-bold {
  font-weight: 600;
}

.nm-green {
  color: $nm-green;
}

.nm-mobile-hidden {

  @media screen and (max-width: $form-break) {
    display: none;
  }
}

.nm-tablet-and-down-hidden {
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.nm-tablet-and-up-hidden {
  display: none;

  @media screen and (max-width: $tablet) {
    display: inherit;
  }
}

.nm-tablet-lg-and-down-hidden {
  @media screen and (max-width: $tablet-lg) {
    display: none;
  }
}

.nm-tablet-lg-and-up-hidden {
  display: none;
  @media screen and (max-width: $tablet-lg) {
    display: inherit;
  }
}

.nm-desktop-hidden {
  display: none;

  @media screen and (max-width: $form-break) {
    display: block;
  }
}

.nm-hidden {
  display: none !important;
}

#map-redirect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.nm-map-image {
  max-width: 170px;
}

.nm-map-image:hover {
  background-color: white;
}

.nm-map-text {
  text-align: center;
}

.nm-gluten {
  color: $nm-gluten;
}

.nm-peanut {
  color: $nm-peanut;
}

.nm-hide-overflow {
  overflow: hidden;
}

.nm-tablet-padding-clear {
  @media screen and (max-width: $tablet) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.nm-mobile-padding-clear {
  @media screen and (max-width: $phone-lg) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
