$phone: 414px;
$form-break: 500px;
$phone-lg: 649px;
$tablet: 767px;
$tablet-md: 830px;
$tablet-lg: 991px;
$max-center: 868px;
$desktop: 1300px;

$see-through-grey: rgba(200, 200, 200, .3);
$white-transparent: rgba(246,246,246,0.9);
$nm-blue: #053B4E;
$nm-blue-fade: #1E4E60;
$nm-text: #333333;
$nm-text-opaque: rgba(54, 44, 42, .6);
$nm-gray: #F6F6F6;
$nm-gray-dark: #999999;
$nm-link: #0898CC;
$nm-link-hover: #00AEEF;
$nm-blue-disabled: rgba(8,152,192,.6);
$nm-red: #f33b4d;
$nm-border: #D9D9D9;
$nm-faded: rgba(8, 152, 204, .2);
$nm-yellow: #ffbc00;
$nm-transparent-yellow: rgba(255, 188, 0, .35);
$paypal: #ffc439;
$nm-green: #00C6A4;
$nm-FFF: #FFFFFF;
$opaque: rgba(0,0,0,0);
$nm-modal: rgba(0,0,0,0.6);
$nm-see-through-border: rgba(0,0,0,0.12);
$nm-gluten: #00C6A4; 
$nm-peanut: #551D5C; 
$facebook-blue: #4267b2;
