.nm-bar {
  width: 100%;
  float: left;
  margin-bottom: 24px;
  background: $nm-green;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  overflow: hidden;

  &__dark {
    background: $nm-blue;
    padding: 16px 48px;
    line-height: 1.2;
    font-weight: 600;
    max-width: 400px;
    border-radius: 10px !important;

    @media screen and (max-width: $form-break) {
      padding: 16px 12px;
      font-size: 14px;
    }
  }

  &__line {
    background: none;
    border-bottom: 1px solid $nm-text-opaque;
  }


  &__docked {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    background: $white-transparent;
  }

  &__title {
    background: $white-transparent;
    padding: 24px;
  }

  &__border {
    width: 100%;
    height: 1px;
    background: $nm-border;
  }

  @media screen and (max-width: $form-break) {
    border-radius: 0px;
  }
}
