* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Walsheim';
  font-weight: 500;
  color: $nm-text;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: $nm-text;
  margin-bottom: 40px;
  line-height: 1.25;
}

h2 {
  line-height: 1.25;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: $nm-text;
  margin-bottom: 20px;
  line-height: 1.25;
}

p {
  font-weight: 300;
  font-size: 16px;
}

a {
  color: $nm-link;
  text-decoration: none;
  font-weight: 300;
  transition: .3s;

  &:hover {
    color: $nm-link-hover;
  }
}

.nm-base {

  &__section-title {
    color: $nm-text;
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    width: 100%;
    float: left;
    padding: 48px 24px;
    font-weight: 400;
  }

  &__ul {
    width: 100%;
    float: left;
    padding-left: 10px;
    list-style: none;

    li::before {
      content: "• ";
      margin-right: 10px;
    }

    &__li-blue {
      color: $nm-link;
      margin-bottom: 10px;
    }
  }

  &__p {
    font-weight: 300;
    font-size: 14px;
  }

  &__white {
    color: white;
  }

  &__light {
    opacity: .5;
  }

  &__or {
    background: $nm-gray;
    width: 50px;
    text-align: center;
    position: absolute;
    left: calc(50% - 25px); 
  }
}
