.nm-block {
  width: 100%;
  float: left;
  border-radius: 10px;
  padding: 18px;
  border: 1px solid $nm-see-through-border;

  &__sidebar {
    width: 195px;
    float: left;
    border-top: 1px solid $nm-yellow;
  }

  &__main {
    width: calc(100% - 195px - 18px);
    margin-left: 18px;
    float: left;
  }
}
