.nm-btn {
  position: relative;
  color: white;
  width: 100%;
  float: left;
  text-align: center;
  padding: 10px;
  display: block;
	border: 1px solid rgba(54,44,42,.05);
  font-weight: 500;
  font-size: 16px;
	border-radius: 100px;
	background-color: $nm-link;
	box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.2), 0 0 2px 0 rgba(0,0,0,0.1), 0 2px 2px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
  transition: background .3s, color .3s;
  cursor: pointer;
  outline: none;
  opacity: 1;

  &__add {
    fill: $nm-link;

    &--wrap {
      width: 13px;
      height: 13px;
      margin-right: 8px;
    }
  }

  &__ball {
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    background: white;
    border: 1px solid $nm-text-opaque;
    transition: .3s;
    cursor: pointer;

    &:hover {
      border: 1px solid $nm-blue-disabled;
    }

    &--docked {
      position: absolute;
      left: calc(50% - 30px);
      z-Index: 30;
      top: -70px;

      &.active {
        @media screen and (max-width: $tablet) {
          top: -140px;
        }
      }
    }
  }

  &__cancel {
    background: $nm-red;
    
    &:hover {
      background: $nm-red !important;
    }
  }

  &__hover {
    &:hover {
      background: $nm-link-hover;
      color: white;
    }
  }

  &__small {
    max-width: 170px;
    padding: 5px;
    font-size: 12px;
  }

  &__check {
    stroke: $nm-green;
    stroke-width: 1.5px;
    stroke-dasharray: 35;
    stroke-dashoffset: 35;
    transition: .7s;
    fill: none;

    &--input {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 26px;

      @media screen and (max-width: $phone-lg) {
        top: -5px;
        right: 0px;
      }
    }

    &.active {
      stroke-dashoffset: 0;
    }
  }

  &__corner {
    width: auto;
    padding: 5px 13px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    position: absolute;
    top: 0px;
    right: 14px;
    z-index: 10;
  }

  &__inverse {
    background: white;
    color: $nm-link;
    border: 1px solid $nm-link;

    &:hover {
      background: white;
      border: 1px solid $nm-link;
      color: $nm-link;
    }
  }

  &__mobile-block {

    @media screen and (max-width: 355px) {
      position: static;
      width: auto !important;
      float: left;
    }
  }

  &__shake {
    animation: shake .4s;
  }

  &__disabled {
    cursor: default;
    opacity: .6 !important;
  }

  &__max {
    max-width: 300px;
  }

  &__center {
    float: none;
    margin: 0 auto;
  }

  &__paypal {
    background: $paypal;
  }

  &__facebook {
    background: $facebook-blue;
    border-radius: 6px;
    padding: 6px;
    text-align: left;
  }

  &--green {
    background: $nm-green;
    cursor: default;
  
    &:hover {
      background: $nm-green;
    }
  }
}

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
  }
  16% {
    transform: rotateZ(3deg);
  }
  48% {
    transform: rotateZ(-3deg);
  }
  80% {
    transform: rotateZ(2deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
