.nm-card {
  width: 100%;
  float: left;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: white;
  overflow: hidden;
  position: relative;

  &__bar {
    width: 100%;
    float: left;
    padding: 36px 18px;
    background: $see-through-grey;
  }

  &__block {
    display: block;
    padding: 24px;

    &--cornerless {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    @media screen and (max-width: $phone) {
      padding: 12px;
    }
  }

  &__center {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
    fill: $nm-text;
    cursor: pointer;
    z-index: 2;
    transition: .3s;

    &:hover {
      fill: $nm-yellow;
    }
  }

  &__column {
    width: 300px;

    @media screen and (max-width: $tablet) {
      padding-bottom: 24px;
      max-width: 400px;
    }

    @media screen and (max-width: $phone) {
      width: 100%;
    }
  }

  &__drop {
    cursor: pointer;
    border-bottom: 2px solid $nm-border;
    padding: 0 24px 14px 24px !important;
  }

  &__faq {
    width: 100%;
    float: left;
    height: auto;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .8s;

    &.active {
      max-height: 400px;
    }
  }


  &__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-top: 1px solid $nm-border;
    background: $nm-gray;
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 24px 0;
    font-size: 16px;

    @media screen and (max-width: $form-break) {
      border-radius: 0px;
      flex-direction: column;
    }
  }

  &__footer-wrap {
    border-top: 1px solid $nm-border;
    width: 100%;
    float: left;
    background: $nm-gray;
  }

  &__half {
    width: 50%;

    @media screen and (max-width: $form-break) {
      width: 100%;
    }
  }

  &__price {
    color: $nm-text;
    font-weight: 300;
    line-height: 24px;
    font-size: 32px;
    margin: 0;

    @media screen and (max-width: $phone-lg) {
      font-size: 22px;
    }

    &--line {
      text-decoration: line-through;
      color: $nm-green;
    }

    &--old {
      color: $nm-text-opaque;
      font-weight: 300;
      font-size: 20px;
      margin: 0;
      position: relative;
      top: -8px;

      @media screen and (max-width: $phone-lg) {
        top: -6px;
        font-size: 16px;
      }
    }
  }

  &__third {
    width: 33.3%;
    display: block;
    border-bottom: 0;
    float: left;
    padding: 12px;
    text-align: center;

    @media screen and (max-width: $tablet-lg) {
      width: 50%;
    }

    @media screen and (max-width: $tablet) {
      width: 100%;
      padding: 0 0 12px 0;
    }
  }

  &__title {
    width: 100%;
    float: left;
    color: $nm-text;
    font-weight: 600;
    line-height: 1;
    font-size: 40px;
    margin: 0 0 24px 0;

    @media screen and (max-width: $phone-lg) {
      font-size: 36px;
      margin-top: 12px;
      margin-bottom: 12px;
    }

    @media screen and (max-width: $phone) {
      font-size: 26px;
    }
  }

  &__section {
    overflow: hidden;
    width: 50%;
    float: left;

    &--content {
      width: 100%;
      max-width: 315px;
      margin: 0 auto;

      @media screen and (max-width: $phone-lg) {
        max-width: 366px;
      }
    }

    @media screen and (max-width: $phone-lg) {
      width: 100%;
    }
  }

  &__shadow {
    box-shadow: inset 0 0px 0 0 $nm-link, 0 2px 4px 0 rgba(0,0,0,0.14), 0 2px 4px 0 rgba(68,68,69,0.5);
  }

  @media screen and (max-width: $form-break) {
    border-radius: 0px;
  }

  &__subscription {
    width: calc(50% - 12px); 
    float: left;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 24px;

    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }

  &__subscription-image {
    width: 33%; 
    float: left;
  }

  &__subscription-info {
    width: 66%; 
    float: left;
  }
}
