.nm-cart {
  width: 100%;
  float: left;
  border-bottom: 1px solid $nm-border;

  &__counter {
    float: left;
    width: 62px !important;
  }

  &__counter-na::-webkit-outer-spin-button,
  &__counter-na::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  &__disclaimer {
    width: 100%;
    float: left;
    font-size: 12px;
    color: $nm-text;
    font-weight: 300;
    line-height: 16px;
  }

  &__image {
    width: 84px;
    height: 84px;
    object-fit: cover;
    display: block;
    float: left;
    margin-right: 24px;
    image-rendering: -webkit-optimize-contrast;
  }

  &__info-wrap {
    float: left;
    padding: 0 0 18px 0;

    @media screen and (max-width: $phone-lg) {
      padding: 0;
      margin-bottom: 12px;
      width: calc(100% - 108px);
    }
  }

  &__filler {
    width: 100%;
    float: left;
    height: 36px;

    @media screen and (max-width: $tablet) {
      display: none;
    }
  }

  &__footer {
    width: 100%;
    float: left;
    padding: 24px 36px;
  }

  &__footer--left {
    width: 100%;
    max-width: 350px;
    float: left;

    @media screen and (max-width: $phone-lg) {
      margin: 0 auto;
      float: none;
      text-align: center;
    }
  }

  &__label {
    float: left;
    width: 90px;
    margin: 0 10px 0 0;
    color: $nm-text;
    font-size: 14px;
    text-align: center;

    @media screen and (max-width: $phone-lg) {
      text-align: left;
    }
  }

  &__label-wrap {
    float: right;
    margin-right: 24px;
    padding-top: 12px;

    @media screen and (max-width: $phone-lg) {
      margin: 0;
      float: left;
      text-align: left;
    }
  }

  &__label-desktop {
    @media screen and (max-width: $tablet) {
      display: none;
    }
  }

  &__label-mobile {
    display: none;
    padding-right: 0;

    @media screen and (max-width: $tablet) {
      display: flex;
      margin-right: 0;
    }
  }

  &__money {
    margin: 0;
    color: $nm-text;
    font-size: 16px;
    padding: 5px 0;
    text-align: center;
  }

  &__money-wrap {
    float: right;
    padding-top: 12px;
    max-width: 240px;
    width: 100%;
    justify-content: space-around;

    @media screen and (max-width: $tablet) {
      justify-content: space-between;
    }

    @media screen and (max-width: $phone-lg) {
      max-width: 100%;
    }
  }

  &__remove {
    line-height: 20px;
    font-size: 14px;
    color: $nm-text;
    border: none;
    font-weight: 300;
  }

  &__row {
    float: left;
    width: 100%;
    padding: 12px 24px 12px 36px;
    border-bottom: 1px solid $nm-border;

    @media screen and (max-width: $phone-lg) {
      padding: 12px 24px;
    }
  }

  &__subtotal {
    width: 100%;
    float: left;
    font-size: 16px;
    color: $nm-text;
    font-weight: 500;
  }

  &__submit-wrap {
    width: 100%;
    max-width: 300px;
    float: right;

    @media screen and (max-width: $phone-lg) {
      float: none;
      margin: 0 auto;
    }
  }

  &__stepper-wrap {
    margin: 0 auto;
    float: none;

    @media screen and (max-width: $phone-lg) {
      float: left;
    }
  }

  &__title {
    border: none;
    font-size: 16px;
    color: $nm-text;
    line-height: 24px;
  }

  &__table-wrap {

    @media screen and (max-width: $tablet) {
      float: left;
      margin-left: 108px;
      width: 100%;
      max-width: 250px;
    }

    @media screen and (max-width: $phone) {
      padding: 0 12px;
      margin-left: 0;
      max-width: 100%;
    }
  }

  &__empty {
    border: none;
    font-size: 24px;
    color: $nm-text;
    line-height: 24px;
    text-align: center;
    margin-bottom: 48px;

  }

  &__orlearn {
    width: 175px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
    color: $nm-text;
    padding: 48px 0;
  }
}
