.nm-checkout {
  width: calc(100% - 320px);
  float: left;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  @media screen and (max-width: $tablet) {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    float: none;
  }

  &__footer {
    width: 100%;
    padding: 12px;
    background: $nm-gray;
    border-radius: 10px;

    &--corner {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }
  }

  &__section {
    width: 100%;
    float: left;
    padding: 16px;
    max-height: 1000px;
    transition: .5s;
    transition-timing-function: ease-in-out;


    &--collapse {
      overflow: hidden;
      max-height: 0px;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

    &--mobile-color {
      @media screen and (max-width: $form-break) {
        background: $nm-blue;
      }
    }

    @media screen and (max-width: $form-break) {
      padding: 24px 12px;
    }
  }

  &__overlay {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $nm-gray;
  }

  @media screen and (max-width: $form-break) {
    border-radius: 0px;
  }
}
