
.nm-checkbox {
  width: 22px;
  height: 22px;
  border-radius: 11px;

  &__back {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    float: left;
    border: 1.5px solid $nm-border;
    margin-right: 24px;
    position: relative;

    &--active {
      border: 1.5px solid $nm-link;
    }
  }

  &__drop {
    width: 100%;
    position: absolute;
    background: white;
    box-shadow: inset 0 0px 0 0 rgba(0,0,0,0.2), 0 0 2px 0 rgba(0,0,0,0.1), 0 2px 2px 0 rgba(0,0,0,0.2);
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.1);
    top: 8px;
    left: 0;
    overflow: hidden;
    z-index: 20;
  }

  &__drop-head {
    width: 100%;
    padding: 3px 8px;
    font-size: 14px;
    color: $nm-text;
    font-style: italic;
    text-align: left;
    background: $nm-gray;
    box-shadow: inset 0 1px 0 0 #DADADA, inset 0 -1px 0 0 #DADADA;
    margin: 0;
  }

  &__drop--item {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    color: $nm-text;
    transition: .3s;
    -webkit-transition: .3s;
    position: relative;
    margin: 0;

    &:hover {
      color: white;
      background: $nm-blue;
    }
  }

  &__drop--selected {
    background: $nm-blue;
    color: white;
  }

  &__fake {
    margin: 8px auto 0 auto;
    text-align: left;
    width: 100%;
    padding: 3px 14px;
    box-shadow: inset 0 0px 0 0 rgba(0,0,0,0.2), 0 0 2px 0 rgba(0,0,0,0.1), 0 2px 2px 0 rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 6px;
    font-size: 14px;
    color: $nm-text;
    position: relative;
    cursor: pointer;
    font-weight: 300;
    
    @media screen and (max-width: $tablet) {
      margin-bottom: 24px;
    }
  }

  &__wrap {
    width: 100%;
    float: left;
    padding-bottom: 16px;
    position: relative;
  }

  &__wrap--half {
    width: 50%;

    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }

}

input[type="radio"] {
  -webkit-appearance: none;
  width: 22px;
  padding: 2px;
  height: 22px;
  float: left;
  border-radius: 11px;
  border: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  float: left;
  border-radius: 11px;
  background: $nm-link;
  margin: 2.5px;
}




