.nm-droparrow {
  width: 14px;
  height: 14px;
  margin-left: 5px;
  display: inline-block;
  position: relative;
  top: 2px;

  &__bar {
    width: 2px;
    height: 9px;
    top: 1px;
    background: $nm-text;
    position: absolute;
    transform-origin: top;
    transition: .2s;

    &.active {
      height: 17px;
    }
  }

  &__left {
    left: 0;
    transform: rotateZ(-45deg);
  }

  &__right {
    right: 0;
    transform: rotateZ(45deg);
  }
}
