.nm-feed {
  width: 100%;
  float: left;
  position: relative;

  &__image {
    width: 85px;
    height: 85px;
    float: left;
  }

  &__header {
    width: calc(100% - 85px);
    padding-left: 12px;
    float: left;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: $nm-text;
    margin-bottom: 0;
  }

  &__stars {
  }

  &__location {
    font-size: 14px;
    font-weight: 400;
    color: $nm-text-opaque;
  }
}
