.nm-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--row {
    flex-direction: row;

    &-mobile-column {
      @media screen and (max-width: $tablet) {
        flex-direction: column;
      }
    }
  }

  &__column-pad {
    padding: 0 24px;
  }

  &__space-around {
    justify-content: space-around;
  }

  &__space-between {
    justify-content: space-between;
  }

  &__column-space {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    @media screen and (max-width: $tablet) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
