.nm-footer {
  width: 100%;
  float: left;
  background: $nm-gray;
  padding-top: 64px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);

  &__contain {
    width: 100%;
    max-width: $max-center;
    margin: 0 auto;
    padding: 18px 18px 30px 18px;
  }

  &__dash {
    width: 100%;
    float: left;
    color: $nm-yellow;
    line-height: 1;
    font-size: 24px;
    margin: 0;
  }

  &__filler {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -64px;
    height: 64px;
    background: $nm-blue;
  }

  &__icon {
    color: $nm-FFF;
    transition: .3s;
  }

  &__item {
    width: 100%;
    float: left;
    font-size: 14px;
    display: block;
    color: $nm-text;
    background: $nm-gray;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 8px 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance : none;
    border: none;
    cursor: pointer;

    &--margin_0 {
      margin: 0;
    }
  }

  &__logo {
    float: left;
    margin-top: 20px;
    margin-bottom: 4px;
    height: 20px;
    display: block;
    image-rendering: -webkit-optimize-contrast;
  }

  &__section {
    width: 50%;
    float: left;
    padding: 6px;
  }

  &__section-container {
    width: 50%;
    float: left;

    @media screen  and (max-width: $tablet) {
      width: 100%;
    }
  }

  &__title {
    width: 100%;
    float: left;
    line-height: 1;
    opacity: .5;
    font-size: 11px;
    text-transform: uppercase;
    color: $nm-text;
  }
}