.nm-form {


  &__checkbox {
    -webkit-appearance: none;
    border: 1.5px solid $nm-link;
    padding: 5px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    outline: none;
    transition: .2s;

    &-check {
      position: absolute;
      width: 17px;
      height: 17px;
      top: 2px;
      left: -2px;
      pointer-events: none;
    }

    &-wrap {
      width: 25px;
      float: left;
      position: relative;
      margin-left: 10px;
      top: 2px;
    }

    &:checked {
      background: $nm-link;

      &:after {
        position: absolute;
        top: 0px;
        left: 3px;
      }
    }
  }

  &__checkbox-label {
    font-weight: 300;
    font-size: 14px;
    color: $nm-text;
  }

  &__checkselect {
    width: 100%;
    float: left;
    border: 1px solid $nm-border;
    border-radius: 5px;
    background: white;
    font-size: 16px;
    color: $nm-text;
    transition: .3s;
    list-style-type: none;
  }

  &__checkselect-item {
    width: 100%;
    float: left;
    border-bottom: 1px solid $nm-border;
    padding: 10px;
    font-weight: 300;
    transition: .3s;
    cursor: pointer;
    position: relative;

    &--disabled {
      opacity: .3;
      cursor: default;
      pointer-events: none;
    }

    &:hover {
      background: $nm-gray;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__drop-icon {
    position: absolute;
    top: 7px;
    right: 12px;
    pointer-events: none;
    color: $nm-link;
  }

  &__error {
    width: 100%;
    float: left; 
    font-size: 12px;
    color: $nm-red;
  }

  &__input {
    width: 100%;
    float: left;
    border: 1px solid $nm-border;
    border-radius: 5px;
    outline: none;
    padding: 7px 12px;
    font-size: 16px;
    color: $nm-text;
    font-weight: 300;
    caret-color: $nm-link;
    transition: .3s;

    &--shadow {
      cursor: pointer;
      box-shadow: inset 0 0px 0 0 $nm-link, 0 2px 4px 0 rgba(0,0,0,0.14), 0 2px 4px 0 rgba(68,68,69,0.5);
    }

    &-wrap {
      transition: .5s;
      max-height: 150px;

      &.hide {
        max-height: 0;
        overflow: hidden;
      }
    }

    &:focus {
      border: 1px solid $nm-link;
      box-shadow: inset 0 0px 0 0 $nm-link, 0 4px 8px 0 rgba(49,58,61,0.26), 0 2px 4px 0 rgba(0,0,0,0.5);
    }

    &--inline {
      display: inline-block;
      border: none;
      border-bottom: 1px solid $nm-border;
      border-radius: 0;
      position: relative;
      top: 4px;
    }
  }

  &__input-error {
    border: 1px solid $nm-red;
  }

  &__input-success {
    border: 1px solid $nm-green;
  }

  &__input-stripped {
    width: 100%;
    font-size: 16px;
    color: $nm-text;
    border: none;
    outline: none;
    float: left;
    padding: 4px 0 8px 0;
    caret-color: $nm-link;
    font-weight: 300;
  }

  &__label {
    width: 100%;
    float: left;
    font-size: 14px;
    font-weight: 300;
    transition: .3s;
    padding: 1px 5px 1px 12px;

    &.active {
    }
  }


  &__li {
    width: 100%;
    float: left;
    padding: 8px 0;
    border-bottom: 1px solid $nm-border;
    opacity: .6;
    font-size: 13px;
    cursor: pointer;
    transition: .3s; 

    &:hover {
      opacity: 1;
      color: white;
      background: $nm-link;
      border-bottom: 0px solid $nm-border;
    }
  }

  &__li-wrap {
    cursor: pointer;
    transition: .3s;

    &.selected {
      background: $nm-link;

      & > .nm-form__li {
        color: white;
        background: $nm-link !important;
        border-bottom: 0px solid $nm-border;
      }

      & .nm-image__pin {
        fill: white;
      }
    }

    &:hover {
      background: $nm-link;

      & > .nm-form__li {
        color: white;
        background: $nm-link !important;
        border-bottom: 0px solid $nm-border;
      }

      & .nm-image__pin {
        fill: white;
      }
    }
  }

  &__quantity {
    width: 14px;
    border: none;
    text-align: center;
    font-size: 14px;
  }

  &__ul {
    width: 100%;
    list-style-type: none;
    border: 2px solid $nm-border;
    position: absolute;
    background: white;
    top: -18px;
    z-index: 200;
    max-height: 500px;
    overflow: scroll;
    transition: .3s;
    border-radius: 6px;
    box-shadow: inset 0 0px 0 0 rgba(0,0,0,0.2), 0 0 2px 0 rgba(0,0,0,0.1), 0 2px 2px 0 rgba(0,0,0,0.2);

    &.closed {
      max-height: 0px !important;
      border: 1px solid transparent;
      background: transparent;
      display: none;
    }

    @media screen and (max-width: $tablet) {
      max-height: 250px;
    }
  }
}
