.nm-image {
  display: block;
  image-rendering: -webkit-optimize-contrast;

  &__background {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &--cover {
      background-size: cover;
    }
  }

  &__caption {
    width: 96px;
    height: 96px;
    float: left;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__center {
    margin: 0 auto;
    float: none;
  }

  &__contain {
    object-fit: contain;
  }

  &__cover {
    object-fit: cover;
  }

  &__app {
    height: 36px;
    float: left;
    margin-right: 14px;
  }

  &__chain {
    height: 100px;
    width:100px;
    float: none;
    padding: 5px;
    background-color: #fff;
    margin-left: calc(50% - 50px);
    margin-top: 190px;
    z-index: 1;
    position: relative;
  }

  &__chain__mobile {
    height: 100px;
    width:100px;
    float: none;
    padding: 5px;
    background-color: #fff;
    margin-left: calc(50% - 50px);
    margin-top: 10px;
    z-index: 1;
    position: relative;
  }

  &__fit-svg {
    width: 100%;
    height: auto;
    float: left;
    box-sizing: content-box;
    padding: 10px;

  }

  &__svg-hover {
    transition: .3s;
    fill: auto;
    padding: 0;
  }

  &__svg-hover-wrap {
    transition: .3s;
    cursor: pointer;

    &:hover {
      .nm-image__svg-hover {
        fill: $nm-link;
      }
    }
  }

  &__lock {
    width: 11px;
    top: -1px;
    margin-right: 10px;
    float: left;
    position: relative;

    &--fill {
      fill: $nm-text;

      @media screen and (max-width: $form-break) {
        fill: white;
      }
    }
  }

  &__product {
    float: none;
    margin: 0 auto 24px auto;
    max-width: 340px;
  }

  &__profile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }

  &__icon {
    width: 24px;
    height: 24px;

    &--mini {
      width: 12px;
      height: 12px;
    }

    &--med {
      width: 40px;
      height: 40px;
    }

    &--large {
      width: 100px;
      height: 80px;
    }
  }

  &__inline {
    display: inline-block;
    position: relative;

    &--icon {
      margin-right: 18px;
      height: 18px;
    }
  }

  &__thumb {
    width: 100%;
    max-width: 200px;
    border-radius: 3px;
  }

  &__card {
    position: absolute;
    transition: transform .5s, opacity .3s;
    right: 6px;
    top: 28px;
    width: 36px;
    display: block;
    transform: rotateX(90deg);
    transform-origin: top;

    &.show {
      transform: rotateX(0deg);
    }
  }
}
