.nm-layout {
  width: 100%;
  float: left;
  position: relative;

  &__padding {
    padding: 0px 36px;

    @media screen and (max-width: $form-break) {
      padding: 0px 24px;
    }
  }

  &__bar {
    height: 1px;
    background: $nm-border;
  }

  &__blue {
    background: $nm-blue;
  }

  &__gray {
    background: $nm-gray;
  }

  &__max-center {
    max-width: 948px;
    margin: 0 auto;
    padding: 0 36px;
    float: none;

    &--large {
      max-width: $desktop;
    }

    &--short {
      max-width: 550px;
    }

    &--medium-gray {
      background: #ececec;
      border-radius: 10px;
      padding-bottom: 36px;
    }

    &--mobile-support {
      @media screen and (max-width: $form-break) {
        padding: 0;
        max-width: 100%;
        float: left;
      }
    }
  }

  &__main-with-sidebar {
    max-width: calc(100% - 218px);

    @media screen and (max-width: $tablet-lg) {
      max-width: 100%;
    }
  }

  &__main-with-2sidebars {
    max-width: calc(100% - 592px);

    @media screen and (max-width: $tablet-lg) {
      max-width: 100%;
    }
  }

  &__half {
    width: 50%;

    @media screen and (max-width: $form-break) {
      width: 100%;
    }
  }

  &__field-half {
    width: 50%;
    padding-right: 5px;
    float: left;

    &:nth-child(even) {
      padding-right: 0px;
      padding-left: 5px;
    }

    @media screen and (max-width: $form-break) {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;

      &:nth-child(even) {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }

  &__mobile-text-center {
    @media screen and (max-width: $tablet) {
      text-align: center;
    }
  }

  &__left-border {
    border-left: 1px solid $nm-border;

    @media screen and (max-width: $tablet) {
      border-left: none;
    }
  }

  &__right-border {
    border-right: 1px solid $nm-border;

    @media screen and (max-width: $tablet) {
      border-right: none;
    }
  }
}
