.nm-map {

  &__bar-mobile {

    @media screen and (max-width: $tablet) {
      font-size: 10px !important;
      text-align: left !important;
      padding: 12px !important;
    }
  }

  &-info {
    width: 225px;
    background: $nm-gray;
    padding: 12px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
    border: 1px solid $nm-border;
    position: relative;
    border-radius: 6px;
    border-top-left-radius: 0px;
  }

  &__list {
    background: white;
    min-height: calc(100vh - 400px);

    @media screen and (max-width: $tablet) {
      min-height: none;
      height: calc(100vh - 344px);
      overflow: scroll;
    }
  }

  &__sidebar {
    width: 400px;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    transition: .3s;
    height: 100%;
    border-right: 1px solid $nm-see-through-border;
    z-index: 30;

    &.tuck {
      left: -400px;
    }
  }

  &__sidebar-search-wrap {
    border-bottom: 1px solid $nm-border;
    background: $see-through-grey;
  }

  &__sidebar-content {
    overflow: scroll;
    height: calc(100% - 182px);
    padding: 24px;
  }

  &__sidebar-toggle-button {
    width: 30px;
    height: 60px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid $nm-see-through-border;
    position: absolute;
    top: 140px;
    background: $nm-link;
    right: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__search-wrap {
    position: absolute !important;
    z-index: 35;

    &.hide-desktop-search {
      display: none;

      @media screen and (max-width: $tablet) {
        display: block;
      }
    }
  }

  &__re-search-btn {
    position: absolute;
    top: 20px;
    width: 250px;
    right: 20px;
    font-weight: 400;
    padding: 2px;

    @media screen and (max-width: $tablet) {
      right: calc(50% - 125px);
      top: 130px;
    }
  }

  &__wrapper {
    height: calc(100vh - 48px);
    z-index: -1;
    overflow: hidden;
    transition: .3s;
    background: transparent;

    &.collapsed {
      height: 300px;
      z-index: 15;
      background: $nm-text-opaque;
    }

    @media screen and (max-width: $tablet) {
      z-index: -1 !important;
    }
  }
}
