.nm-modal {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  &__back {
    z-index: 200;
    background: $nm-modal;
  }

  &__loader {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  &__center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    @media screen and (max-width: $phone-lg) {
      justify-content: flex-start;
      overflow: scroll;
    }
  }

  &__message {
    width: 90%;
    padding: 24px;
    margin: 0 auto;
    background: $nm-gray;
    border-radius: 10px;
    overflow: scroll;

    @media screen and (max-width: $phone-lg) {
      width: 100%;
    }
  }
}
