.nm-nav {
  width: 100%;
  float: left;
  position: relative;
  background: $nm-gray;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  // box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25), 0 2px 2px 0 rgba(0,0,0,0.24);

  &__link {
    cursor: pointer;
    color: $nm-text;
    display: block;
    text-decoration: none;
    font-size: 14px;
    padding: 12px 0;
  }

  &__logo {
    height: 18px;
    image-rendering: -webkit-optimize-contrast;
    display: block;
    position: absolute;
    top: 13px;
    left: calc(50% - 45px);


    &-secondary {
      width: 100%;
      float: left;
      display: block;
      image-rendering: -webkit-optimize-contrast;
    }
  }

  &__arrow {
    transform: rotateZ(90deg);
    width: 16px;
    height: 16px;
    display: block;
    margin: 0 auto;
    padding: 14px;
    position: absolute;
    top: 0;
    left: calc(50% - 22px);
    cursor: pointer;
    box-sizing:  content-box;
    transition: .3s;
    display: none;

    &--active {
      transform: rotateZ(-90deg);
    }

    @media screen and (max-width: $max-center) {
      display: block;
    }
  }

  &__cart-quantity {
    transition: .3s;
    color: $nm-text;
  }

  &__cart {
    width: 16px;
    height: 16px;
    fill: $nm-text;
    position: absolute;
    top: calc(50% - 9px);
    left: 14px;
    transition: .3s;

    &--wrap {
      float: right;
      border-radius: 50px;
      color: $nm-blue;
      display: block;
      border-bottom: none;
      padding: 6px 18px 6px 36px;
      margin: 7px 0 0 0;
      position: relative;
      transition: .3s;
      -webkit-transition: .3s;
      font-size: 14px;
      background: white;
    
      &:hover {
        background: $nm-link;
        color: white;
      }

      &:hover .nm-nav__cart-quantity {
        color: white;
      }

      &:hover .nm-nav__cart {
        fill: white;
      }
    
      @media screen and (max-width: $max-center) {
        margin: 6px 0 0 0;
      }
    }
  }

  &__close {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 4px;
    left: 10px;
    display: none;
    cursor: pointer;
    transition: .3s;
    transform: scale(0);

    &--active {
      transform: scale(1);
    }

    @media screen and (max-width: $max-center) {
      display: block;
    }
  }

  &__item {
    color: #333333;
    font-size: 15.5px;
    float: right;
    padding: 16px 0 16px 30px;
    display: block;
    transition: .3s;
    line-height: 1;
    font-weight: 500;
    cursor: pointer;

    &--left {
      float: left;
    }

    &.keep {
      @media screen and (max-width: $max-center) {
        padding-left: 0;
        display: block;
      }
    }

    @media screen and (max-width: $max-center) {
      display: none;
    }
  }

  &__item-mobile {
    width: 100%;
    float: left;
    font-size: 15.5px;
    float: right;
    display: block;
    transition: .3s;
    line-height: 1;
    cursor: pointer;
    padding: 16px 0 16px 20px;
    transition: .3s;
    font-weight: 500;
    color: $nm-gray;


    &--active {
      padding: 16px 0 16px 30px;
      color: $nm-text;
    }
  }

  &__line {
    width: 1px;
    float: right;
    height: 30px;
    margin-top: 8px;
    background: $nm-border;
  }

  &__logo-wrap {
    height: 18px;
    float: left;
    display: block;
    padding: 14px 0;
    box-sizing: content-box;
    width: 89px;

    @media screen and (max-width: $max-center) {
      padding: 13px;
      float: none;
      margin: 0 auto;
    }
  }

  &__max-center {
    @media screen and (max-width: $max-center) {
      padding: 0 12px !important;
    }
  }

  &__menu-icon {
    width: 18px;
    position: absolute;
    top: 0px;
    left: 7px;
    display: none;
    cursor: pointer;
    transition: .3s;
    transform: scale(1);
    padding: 14px;
    box-sizing: content-box;

    @media screen and (max-width: $max-center) {
      display: block;
    }

    &.shrink {
      transform: scale(0);
    }
  }

  &__mobile {
    width: 100%;
    float: left;
    background: $nm-gray;
    max-height: 100vh;
    overflow: hidden;
    position: absolute;
    min-height: 0;
    max-height: 0;
    transition: .3s;
    left: 0;
    z-index: 2000000;
    padding-top: 0;

    &--active {
      min-height: 100vh;
      padding-top: 12px;
    }
  }

  &__sub {
    width: 100%;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.12);
    position: absolute;
    z-index: 20;
    background: rgba(255, 255, 255, .9);
    transition: .3s;

    &-active {
      background: white;
    }

    &-button {
      color: white;
      font-size: 14px;
      background: $nm-link;
      border-radius: 20px;
      transition: .3s;
      padding: 7px 18px;
      display: block;
      float: right;
      line-height: 1;
      margin: 8px 0;

      &:hover {
        background: $nm-link-hover;
        color: white;
      }
    }

    &-dock {
      position: fixed;
      top: 0;
      left: 0;
    }

    &-item {
      float: right;
      font-size: 14px;
      color: $nm-text;
      padding: 15px 30px 15px 0;
      display: block;
      margin: 0;
      line-height: 1.2;

      @media screen and (max-width: $max-center) {
        display: none;
      }
    }

    &-mobile {
      width: 100%;
      float: left;
      max-height: 0;
      overflow: hidden;
      transition: .3s;
      padding: 0px 24px 0 12px;

      &--active {
        max-height: 300px;
        padding: 24px;
      }
    }

    &-mobile-item {
      width: 100%;
      float: left;
      font-size: 13px;
      padding: 8px 0;
      box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0);
      color: white;
      transition: .3s;

      &:last-child {
        box-shadow: none;
      }

      &--active {
        box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.12);
        color: $nm-text;
      }
    }

    &-title {
      float: left;
      color: $nm-text;
      font-size: 16px;
      font-weight: 600;
      padding: 0px;
      line-height: 1;
      padding: 14px 0;
    }
  }

  &__wrap {
    width: 100%;
    float: left;
    background: $nm-blue-fade;
    position: fixed;
    z-index: 40;
  }
}
