.nm-order {
  width: 280px;
  float: right;
  background: white;
  padding: 24px;
  border-radius: 6px;
  margin-top: 36px;
  transition: color .3s;

  &__bold {
    p {
      font-weight: 600;
    }
  }

  &__items {
    width: 100%;
    float: left;
    max-height: 0px;
    transition: max-height .5s, color .5s;
    overflow: hidden;

    p {
      color: $opaque;
      transition: .5s;
    }

    &.active {
      border-top: 1px solid $nm-border;
      margin-top: 5px;
      padding-top: 16px;
      max-height: 600px;

      p {
        color: rgba(50,50,50, 1);
      }
    }
  }

  &__card-charges {
    width: 180px;
    float: right;

    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }

  &__card-items {
    width: calc(100% - 180px);
    float: left;

    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }

  &__card-info {
    float: left;
    width: calc(100% - 160px);

    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }

  @media screen and (max-width: $tablet) {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    float: none;
  }

  @media screen and (max-width: $form-break) {
    width: 100%;
    max-width: 100%;
    float: left;
    border-radius: 0px;
  }
}
