.affirm-as-low-as {
  text-align: center;
  font-size: 14.5px;
  margin-bottom: 0;
  margin-top: 18px;
  font-weight: 500;
}

.affirm-modal-trigger {
  display: block;
  text-decoration: underline;
  border-bottom: 0;
  color: $nm-text;
}
