.nm-payment {
  width: 100%;
  // display: flex;

  &__selection {
    display: flex;
    // justify-content: flex-end;
  }

  &__icon {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    width: 60px;
  }

}
