.nm-profile {
  width: 100%;
  float: left;
  position: relative;

  &__content {
    width: calc(100% - 200px);
    float: left;
    padding-left: 18px;
  }

  &__facts-wrap {
    width: 200px;
    float: left;
  }

  &__image-wrap {
    width: 200px;
    float: left;
  }
}
