.nm-search {
  width: 100%;
  float: left;
  border-radius: 40px;
  border: 1px solid $nm-link;
  padding: 12px;
  position: relative;
  transition: .3s;

  &__icon-wrap {
    width: 24px;
    margin-left: 12px;
    float: left;
    position: relative;
    top: 7px;
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;

    &--small {
      width: 18px;
      top: 9px;

      @media screen and (max-width: $tablet) {
        top: 7px;
      }
    }

    &--sidebar {
      position: absolute;
      width: 16px;
      top: 9px;
      left: 10px;
      padding: 0;
      margin: 0;
    }

    @media screen and (max-width: $tablet) {
      width: 20px;
    }
  }

  &__input {
    line-height: 2.25;
    float: left;
    font-size: 18px;
    outline: none;
    border: none;
    color: $nm-text;
    padding-left: 12px;
    caret-color: $nm-link;
    font-weight: 400;

    &::placeholder {
      font-weight: 400;
    }

    &--simple {
      width: 100%;
      background: $see-through-grey;
      font-size: 16px;
      padding-left: 30px;
      border-radius: 3px;
      border: 1px solid $nm-see-through-border;
    }

    &--mobile-with-icon {
      width: calc(100% - 36px);
      float: left;
      position: relative;
    }

    @media screen and (max-width: $tablet) {
      font-size: 16px;
    }
  }

  &__map-wrap {
    margin-top: 96px;

    @media screen and (max-width: $tablet) {
      margin: 0 4px;
      background: white;
      border: 1px solid $nm-border !important;
      border-radius: 6px;
      padding: 10px;
      width: calc(100% - 8px);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &__map-place-wrap {
    margin-right: 12px;
    width: calc(50% - 123px);
    float: left;

    &.gluten-border {

      @media screen and (max-width: $tablet) {
        border: 2px solid $nm-gluten;
      }
    }

    &.peanut-border {
      @media screen and (max-width: $tablet) {
        border: 2px solid $nm-peanut;
      }
    }

    @media screen and (max-width: $tablet) {
      border-radius: 30px;
      width: 100%;
      float: left;
      position: relative;
      overflow: hidden;
    }
  }

  &__map-where-wrap {
    margin-right: 12px;
    width: 255px;
    float: left;

    @media screen and (max-width: $tablet) {
      width: calc(100% - 100px);
    }
  }

  &__map-allergen-icon {
    margin-right: 12px;
    float: left;
    height: 40px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: $tablet) {
      height: 36px;
    }
  }

  &__submit {
    width: 130px;
    background: $nm-link;
    overflow: hidden;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    right: -1px;
    border: none;
    top: -1px;
    bottom: -1px;
    cursor: pointer;
    transition: .3s;
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    outline: none;

    &:hover {
      background: $nm-link-hover;
    }
  }

  &--simple {
    border-radius: none;
    border: none;
  }
}
