.nm-sidebar {
  width: 300px;
  float: left;
  margin-right: 50px;

  &__rest {
    width: calc(100% - 350px);
    float: left;

    @media screen and (max-width: $tablet-lg) {
      width: 100%;
    }
  }

  &__right {
    margin-right: 0;
    margin-left: 50px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 6px;
    transition: .3s;
    font-size: 20px;
    color: $nm-text;

    &:hover {
      background: $white-transparent;
      color: $nm-text;
    }

    &:hover .nm-sidebar__icon {
      stroke: $nm-link-hover;
    }
  }

  &__icon {
    transition: .3s;
    stroke: #AAAAAA;
  }

  &__item-bar {
    width: 100%;
    float: left;
    height: 2px;
    margin: 12px 0;
    background: #AAAAAA;
  }

  &__small {
    width: 260px;
    margin-right: 36px;
    float: left;

    &--right {
      margin-right: 0;
      margin-left: 36px;
    }
  }


  @media screen and (max-width: $tablet-lg) {
    display: none;
  }
}
