.nm-slider {
  position: fixed;
  bottom: -100%;
  transition: bottom .3s;
  padding: 12px 55px;
  background: white;
  border-top: 1px solid $nm-text;
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.2), 0 0 2px 0 rgba(0,0,0,0.1), 0 2px 2px 0 rgba(0,0,0,0.2);
  padding-bottom: 44px;

  &.active {
    bottom: 0%;
    z-index: 3000000;
  }

  &__overlay {
    transition: .3s;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: $white-transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__hover-slider {
    width: 200px;
    height: 200px;
    overflow: hidden;
    padding: 18px;
    border-radius: 6px;
    position: relative;
    border: 1px solid $nm-text-opaque;
    cursor: pointer;

    &:hover .nm-slider__overlay {
      top: 0%;
    }
  }
}
