.nm-stepper {
  position: relative;
  top: 5px;

  &__available {
    cursor: pointer;
  }

  &__available &__fill {
    fill: $nm-text;
  }

  &__available:hover &__fill {
    fill: $nm-link;
  }

  &__icon {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    transition: .3s;
    width: 20px;
  }

  &__fill {
    fill: $nm-text-opaque;
  }

  &__rest {
    width: calc(100% - 200px);
    float: left;

    @media screen and (max-width: $phone-lg) {
      width: 100%;
    }
  }
}
