.nm-steps {
  width: 100%;
  padding: 24px;
  max-width: 440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__large {
    max-width: 540px;

    @media screen and (max-width: $tablet) {
      max-width: 440px;
    }
  }

  &__check {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $nm-yellow;
    background-color: $nm-yellow;
    margin: 0;
    border-radius: 20px;

    @media screen and (max-width: $tablet) {
      border: none;
    }
  }

  &__desktop-only {
    display: flex;

    @media screen and (max-width: $tablet) {
      display: none !important;
    }
  }

  &__mobile-only {
    display: none;

    @media screen and (max-width: $tablet) {
      display: flex;
    }
  }

  &__index {
    border-radius: 20px;
    width: 24px;
    height: 24px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #999999;
    float: left;
    border: 2px solid #999999;
    margin: 0;

    &--active {
      color: white;
      background-color: $nm-yellow;
      border: 2px solid $nm-yellow;

      @media screen and (max-width: $tablet) {
        color: white;
        background: none;
        border: none;
      }
    }

    @media screen and (max-width: $tablet) {
      background: none;
      border: none;
    }

    @media screen and (max-width: $phone) {
      font-size: 12px;
      width: 16px;
      height: 16px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
  }

  &__label {
    color: #999999;
    float: left;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 10px;
    letter-spacing: 1px;
    font-size: 12px;
    margin-bottom: 0px;
    // opacity: 0.5;

    &--active {
      color: $nm-yellow;
      opacity: 1;
    }

    @media screen and (max-width: $phone) {
      margin-left: 0;
    }

    @media screen and (max-width: $phone) {
      font-size: 9px;
      line-height: 16px;
    }
  }

  @media screen and (max-width: $tablet) {
    padding: 24px 12px;
  }

}
