.nm-tabnav {
  width: 100%;
  float: left;
  position: relative;
  cursor: pointer;
  user-select: none;
  

  &__bar {
    height: 2px;
    background: $nm-link;
    position: absolute;
    bottom: 0;
    transition: .3s;
  }

  &__item {
    text-align: center;
    float: left;
    font-weight: 500;
    font-size: 20px;

    &.active {
      color: $nm-link;
    }
  }
}
