.nm-ticket {
  width: calc(33.3% - 18px);
  box-shadow: 0 0 8px 1px rgba(51,51,51,0.5);
  border-radius: 4px;

  &__full {
    width: 100%;
    box-shadow: none;

    @media screen and (max-width: $tablet-lg) {
      width: calc(100% - 24px);
      margin-left: 12px;
      margin-right: 12px;
    }
  }

  &__half {
    width: calc(50% - 18px);
    box-shadow: none;
    border: 1px solid $nm-border;
    padding: 12px;

    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }

  &__chain {
    border: 1px solid $nm-yellow;
    background: $nm-transparent-yellow;
  }

  &__hover {
    cursor: pointer;
    transition: .3s;

    &:hover {
      background: $see-through-grey !important;
    }
  }

  &__map {
    width: calc(100% - 90px);
    padding: 8px 12px;

    & h4 {
      font-size: 14px;
    }

    & p {
      font-size: 12px;
      line-height: 1;
    }
  }

  &__main-column {
    float: left;
    width: calc(100% - 300px - 200px);
    padding: 0 24px;
    margin: 24px 0;

    @media screen and (max-width: $tablet) {
      width: calc(100% - 140px);
      padding: 12px;
      margin: 0;
    }

    @media screen and (max-width: $phone-lg) {
      width: calc(100% - 90px);
      padding: 12px;
      margin: 0;
    }
  }

  &__right-column {
    width: 300px;
    float: left;
    border-left: 1px solid $nm-border;
    padding: 0 24px;
    margin: 24px 0;
    min-height: 100px;
  }

  &__image {
    display: block;
    width: 100%;
    float: left;
    height: 140px;
    object-fit: cover;

    &--fit {
      max-width: 140px;

      @media screen and (max-width: $phone-lg) {
        float: right;
        width: 90px;
        height: 100px;
      }
    }
  }

  &__footer {
    width: 100%;
    padding: 16px;
  }

  &__side {
    width: 200px;
    border-radius: 6px;
    padding: 12px;
    margin-right: 18px;

    &-right {
      float: right;
      margin-right: 0;
      margin-left: 18px;
    }

    @media screen and (max-width: $tablet-lg) {
      max-width: calc(100% - 24px);
      min-width: 300px;
      margin: 0 auto;
      float: none;
    }
  }

  &__wrap {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }
}
