.nm-toggle {
  border-radius: 30px;
  border: 3px solid $nm-border;
  width: 100%;
  position: relative;
  cursor: pointer;
  user-select: none;

  &__item {
    padding: 8px 5px;
    float: left;
    z-index: 20;
    width: 49%;
    text-align: center;
    position: relative;

    &:nth-child(2) {
      float: right;
    }
  }

  &__slider {
    width: 53%;
    position: absolute;
    border-radius: 30px;
    background: $nm-border;
    top: 0px;
    bottom: 0px;
    left: 0px;
    transition: .3s;
    z-index: 10;

    &.right {
      left: calc(48%);
    }
  }
}
