.nm-tooltip {
  position: absolute;
  width: 200px;
  left: 10px;
  display: none;
  padding: 10px;
  border: 1px solid $nm-border;
  background: $nm-gray;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  bottom: 20px;
  box-shadow: inset 0 0px 0 0 $nm-link, 0 2px 4px 0 rgba(0,0,0,0.14), 0 2px 4px 0 rgba(68,68,69,0.5);

  &__below {
    left: -50%;
    border-radius: 10px;
    top: 40px;
    bottom: auto;
    z-index: 200;

    &:after, &:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: $nm-gray;
      border-width: 20px;
      margin-left: -20px;
    }

    &:before {
      border-color: rgba(194, 225, 245, 0);
      border-bottom-color: rgba(0,0,0,0.14);
      border-width: 22px;
      margin-left: -22px;
    }
  }

  &__drop {
    position: relative;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    transition: .3s;

    &.active .nm-tooltip {
      display: block;
    }
  }

  &__info {
    position: relative;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    transition: .3s;

    &:hover {
      color: $nm-link;
    }

    &:hover .nm-tooltip {
      display: block;
    }
  }
 }
