@font-face {
  font-family: 'Walsheim';
  src: url('/shop/fonts/GT-Walsheim-Regular.eot'); /* IE9 Compat Modes*/
  src: url('/shop/fonts/GT-Walsheim-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/shop/fonts/GT-Walsheim-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/shop/fonts/GT-Walsheim-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Walsheim';
  src: url('/shop/fonts/GT-Walsheim-Light.eot'); /* IE9 Compat Modes */
  src: url('/shop/fonts/GT-Walsheim-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/shop/fonts/GT-Walsheim-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('/shop/fonts/GT-Walsheim-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Walsheim';
  src: url('/shop/fonts/GT-Walsheim-Medium.eot'); /* IE9 Compat Modes */
  src: url('/shop/fonts/GT-Walsheim-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/shop/fonts/GT-Walsheim-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('/shop/fonts/GT-Walsheim-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Walsheim';
  src: url('/shop/fonts/GT-Walsheim-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@import '../public/scss/_variables';
@import '../public/scss/layout/_base';
@import '../public/scss/layout/_btn';
@import '../public/scss/layout/_block';
@import '../public/scss/layout/_checkout';
@import '../public/scss/layout/_checkbox';
@import '../public/scss/layout/_droparrow';
@import '../public/scss/layout/_nav';
@import '../public/scss/layout/_map';
@import '../public/scss/layout/_feed';
@import '../public/scss/layout/_form';
@import '../public/scss/layout/_layout';
@import '../public/scss/layout/_image';
@import '../public/scss/layout/_order';
@import '../public/scss/layout/_loader';
@import '../public/scss/layout/_modal';
@import '../public/scss/layout/_tooltip';
@import '../public/scss/layout/_bar';
@import '../public/scss/layout/_card';
@import '../public/scss/layout/_flex';
@import '../public/scss/layout/_footer';
@import '../public/scss/layout/_payment';
@import '../public/scss/layout/_search';
@import '../public/scss/layout/_steps';
@import '../public/scss/layout/_stepper';
@import '../public/scss/layout/_cart';
@import '../public/scss/layout/_tabnav';
@import '../public/scss/layout/_toggle';
@import '../public/scss/layout/_profile';
@import '../public/scss/layout/_override';
@import '../public/scss/layout/_ticket';
@import '../public/scss/layout/_slider';
@import '../public/scss/layout/_sidebar';
@import '../public/scss/layout/vouchers';

@import '../public/scss/_helpers';
